@import (reference) "variables";
.row-fixed {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.below-mast {
  padding-top: @mast-height;
}

#gallery{
  padding: 60px;
  text-align: center;
  vertical-align: middle;
}

#MegaNavbarID{
  background: #fff;
}