<div class="container space-sm">
    <div class="row">
        <div class="col-sm-4">
            <div class="margin-bottom-15">
                <img style="width: 175px;" src="/dist/images/shot.jpg" alt="">
                <div class="caption"><strong>Dr. Ashish Gupta M.D.</strong></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        Wee Care Clinic Is private, physician-owned, pediatric practice Founded in 2007 by Dr. Ashish
                        Gupta. Wee Care Paediatric Clinic is a medical clinic providing exceptional care for children
                        from birth until age 18. We see children for well child
                        check-ups, immunizations, school physicals, and of course, sick visits. In addition, we see newborns at
                        Rockland Hospital and at Primus Super speciality Hospital. We are
                        serving Indian and international patients with high level of care and satisfaction.
                    </p>
                </div>
            </div>
            <div class="row margin-top-30" ng-repeat=" d in data">
                <div class="col-sm-12">
                    <header>
                        <h3>
                            {{d.header}}
                        </h3>
                        <p class="lead">
                            {{d.lead}}
                        </p>
                    </header>
                    <div>
                        <ul>
                            <li ng-repeat="point in d.points">
                                {{point}}
                            </li>
                        </ul>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>