<div>
    <!-- start: Slider -->
    <div class="fullsize-container">
        <div class="fullsize-slider" style="position: relative;overflow: hidden;">
            <!-- MAIN IMAGE -->
            <img src="dist/images/banner.jpg"
                 style="width: 110%;margin-top: -20px;margin-left: -20px;max-height: 800px;" alt="">
            <!-- LAYERS -->
            <div class="tp-caption theme-caption"
                 style="position: absolute; bottom: 90px; left: 25px;color: #2e2e2e; font-size: 40px; line-height: 45px;">
                Be seen.
                <br>Be cared for.
                <br>Be on healthy way.
            </div>
        </div>
    </div>
    <!-- end: Slider -->
    <section class="space-sm bg-light" id="service">
        <div class="container">
            <div class="service-box">
                <div class="row">
                    <div class="col-md-3 col-sm-3 clearfix cr-nav">
                        <div class="margin-bottom-15">
                            <img style="width: 175px;" src="/dist/images/shot.jpg" alt="">
                            <div class="caption"><strong>Dr. Ashish Gupta M.D.</strong></div>
                        </div>
                        <h3 class="f-500">Our Commitment</h3>
                        <p>We strive to provide a world class pediatrics services because for you, we care.</p>
                    </div>
                    <!-- .col 3 -->
                    <div class="col-md-9 col-sm-9">
                        <div id="owl-demo" class="row">
                            <div class="col-sm-4">
                                <!-- /.tem -->
                                <div class="item">
                                    <div class="info-block">
                                        <div class="thumbnail">
                                            <figure>
                                                <img src="dist/images/service-8.jpg" alt="" class="img-responsive">
                                            </figure>
                                            <div class="round-icon bg-red-light">
                                                <span class="icon-i-pathology" aria-hidden="true"></span>
                                            </div>
                                            <div class="caption" onclick="location.href='service-details.html';">
                                                <h4>Paediatric Care</h4>
                                                <p>You can find general information about making appointments, as
                                                    well
                                                    as other helpful tips..</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.info bock -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <!-- /.tem -->
                                <div class="item">
                                    <div class="info-block">
                                        <div class="thumbnail">
                                            <figure>
                                                <img src="dist/images/service-11.jpg" alt="" class="img-responsive">
                                            </figure>
                                            <div class="round-icon bg-green-light">
                                                <span class="icon-i-immunizations" aria-hidden="true"></span>
                                            </div>
                                            <div class="caption" onclick="location.href='service-details.html';">
                                                <h4>Vaccination and Immunization</h4>
                                                <p>You can find general information about making appointments, as
                                                    well
                                                    as other helpful tips..</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.info bock -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="item">
                                    <div class="info-block">
                                        <div class="thumbnail">
                                            <figure>
                                                <img src="dist/images/service-9.jpg" alt="" class="img-responsive">
                                            </figure>
                                            <div class="round-icon bg-blue-light">
                                                <span class="icon-i-womens-health" aria-hidden="true"></span>
                                            </div>
                                            <div class="caption" onclick="location.href='service-details.html';">
                                                <h4>Growth and Development</h4>
                                                <p>You can find general information about making appointments, as
                                                    well
                                                    as other helpful tips..</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.info bock -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--col 9-->
            </div>
        </div>
        <!-- /.container -->
    </section>
    <section class="space-md">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <p class="lead hr-after">Plan your next visit</p>
                    <p>Raising a child can be challenging but we seriously understand their needs. We provide care
                        before
                        and after your child is born</p>
                </div>
                <div class="col-sm-9">
                    <div class="row margin-bottom-35" ng-repeat="row in otherServices">
                        <div class="col-sm-6" ng-repeat="service in row">
                            <div class="med-iconBox med-iconBox--left">
                                <div class="med-iconBox-icon icon-big color-blue">
                                        <span class="{{service.icon}}" data-toggle="tooltip"
                                              data-placement="top" title="" data-original-title="Web Design"></span>
                                </div>
                                <div class="med-iconBox-content">
                                    <h4 class="med-iconBox-title hr-after">
                                        {{service.header}}
                                    </h4>
                                    <p>
                                        {{service.details}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- /.med box -->
                    </div>
                    <p>
                        <small><sup>*</sup> Available at Rockland and Primus Hospital facilities.</small>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="benefits-quote bg-light">
        <div class="container-fluid tile-container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="gallery">
                    </div>
                </div>

            </div>
        </div>
    </div><!-- /.benefits -->
    <section class="space-md">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <address>
                        <strong>Wee Care Clinic</strong><br>
                        C-23, Rear side, Lower Ground Floor<br>
                        Gate No. 5, Opp. Nivedita School <br>
                        Ch. Dilip Singh Marg, Police Station Rd. <br>
                        Hauz Khas, New Delhi <br>
                        <abbr title="Phone">Phone:</abbr> +91 9953051903<br>
                        <abbr title="Mobile Phone">Mobile:</abbr> +91 9953051903
                    </address>
                    <address>
                        <strong>Dr. Ashish Gupta</strong><br>
                        <a href="mailto:#">drashishgupta21@gmail.com</a>
                    </address>
                    <div class="open-hours">
                        <p class="clearfix">Monday - Saturday
                            <span class="text-right">8.30 AM to 9.00 AM<br/>5.30 PM to 8.30 PM</span>
                        </p>
                        <p class="clearfix">Sunday
                            <span class="text-right">7.00 PM to 8.00 PM<br/>(BY APPOINTMENT) </span>
                        </p>
                        <p><sub>* First come first serve basis<br/>
                            * All appointments are tentative subject to rare unavailability of doctor due to handling emergency patient or attending a delivery
                        </sub></p>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-6">
                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            style="width: 100%; height: 400px;"
                            src="https://maps.google.com/maps?hl=en&q=C 23, Hauz Khas, New Delhi, South Delhi, Delhi, India&ie=UTF8&t=roadmap&z=10&iwloc=B&output=embed">
                    </iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- /.tips and news -->
    <div class="cta bg-blue-light">
        <div class="container">
            <div class="row cta-1">
                <div class="cta-features text-center">
                    <div class="col-sm-4 blue-1"><strong>Best childcare<sub>Guaranteed</sub></strong>
                    </div>
                    <div class="col-sm-4 blue-2"><strong>Health monitoring<sub>Round the clock
                        monitoring</sub></strong>
                    </div>
                    <div class="col-sm-4 blue-4"><strong>Reach us at<sub>+91 9953051903</sub></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>