<div class="container space-sm">
    <div class="row">
        <div class="col-sm-4">
            <div class="margin-bottom-15">
                <img style="width: 175px;" src="/dist/images/shot.jpg" alt="">
                <div class="caption"><strong>Dr. Ashish Gupta M.D.</strong></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        Welcome to the Wee Care Pediatric Clinic , where children come first, and where our board
                        certified Pediatrician work to provide exceptional medical care for kids in South Delhi and
                        surrounding areas. We pride ourselves on providing compassionate, comprehensive services to
                        children from birth through adolescence, and we are glad you have chosen us as your child's
                        medical home.
                    </p>
                    <p>
                        We know how hectic life can be and we are committed to making our practice convenient and
                        accessible for your family. We want you to feel confident when you choose the Wee Care Pediatric
                        Clinic,. as your child's primary physician, you are working with professionals who are
                        qualified, experienced and caring. We do this by equipping you with the support and resources
                        you need to make the most educated decisions about your child's health.
                    </p>
                    <p>
                        We proudly provide your children the best pediatric care at one of most beautiful made clinic in
                        Delhi . We care for your family in a very warm child friendly environment with a very
                        beautifully designed play area. Dr. Ashish Gupta is a famous, competent and well respected
                        Pediatrician in South Delhi. He is regarded one of best pediatrician in Delhi. Wee Care Children
                        clinic is best children clinic in south Delhi caring for indian and lot of international
                        patients from various countries.
                    </p>
                </div>
            </div>
            <div class="row margin-top-50">
                <div class="col-sm-12">
                    <div class="med-iconBox med-iconBox--left margin-top-20" ng-repeat="service in otherServices">
                        <div class="med-iconBox-icon icon-big color-blue">
                                        <span class="{{service.icon}}" data-toggle="tooltip"
                                              data-placement="top" title="" data-original-title="Web Design"></span>
                        </div>
                        <div class="med-iconBox-content">
                            <h4 class="med-iconBox-title hr-after">
                                {{service.header}}
                            </h4>
                            <p>
                                {{service.details}}
                            </p>
                        </div>
                    </div>

                    <p>
                        <small><sup>*</sup> Available at Rockland and Primus Hospital facilities.</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>