<div class="footer-4cln space-md">
    <div class="container">
        <hr>
        <div class="footer-4cln-bar">
            <div class="ourTeam-social pull-left">
                <ul class="social">
                    <li><a href="index.html#" class="social-btn social-facebook" title="Facebook"><i
                            class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="index.html#" class="social-btn social-twitter" title="Twitter"><i
                            class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="index.html#" class="social-btn social-google" title="Google+"><i
                            class="fa fa-google-plus"></i></a>
                    </li>
                    <li><a href="index.html#" class="social-btn social-linkedin" title="LinkedIn"><i
                            class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <span class="address pull-right">Copyright &copy; Gupta, Inc. 2016<br/> New Delhi</span>
        </div>
    </div>
</div>
