<header id="header">
    <!-- Top Header Section Start -->
    <div class="top-bar bg-light hdden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 list-inline list-unstyled no-margin hidden-xs">
                    <p class="no-margin">Have any questions? <strong>+91 9953051903</strong> or
                        drashishgupta21@gmail.com</p>
                </div>
            </div>
        </div>
    </div><!-- /.top bar -->
    <!-- begin Logo and info -->
    <div class="container middle-bar hidden-xs">
        <div class="row">
            <a ui-sref="home" class="logo col-sm-3">
                <i class="icon-i-pediatrics fa-3x"></i>&nbsp;<strong class="fa-2x"
                                                                     style="vertical-align: super">
                WEE CARE..</strong>
            </a>
            <div class="col-sm-8 col-sm-offset-1 contact-info">
                <p>Have any questions? <span>+91 9953051903</span></p>
            </div>
        </div>
    </div>
    <!-- /.middle -->
    <!-- begin MegaNavbar-->
    <div class="nav-wrap-holder">
        <div class="container" id="nav_wrapper">
            <nav class="navbar navbar-static-top navbar-default no-border-radius xs-height100" id="main_navbar"
                 role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#MegaNavbarID">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span><span class="icon-bar"></span><span
                                class="icon-bar"></span>
                        </button>
                        <a href="index.html" class="navbar-brand logo col-sm-3 visible-xs-block">
                            <i class="icon-i-pediatrics"></i>&nbsp;<strong class=""
                                                                           style="">
                            WEE CARE</strong>
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="MegaNavbarID">
                        <!-- regular link -->
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a ui-sref="home"><i class="fa fa-home"></i> <span
                                        class="hidden-sm">Home</span></a>
                            </li>
                            <li class="divider"></li>
                            <li><a ui-sref="services">
                                <i class="fa fa-heartbeat"></i>
                                <span class="hidden-sm">Services</span></a></li>

                            <li class="divider"></li>
                            <li>
                                <a ui-sref="about">
                                    <i class="fa fa-user-md"></i> <span
                                        class="hidden-sm">About</span></a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="http://blog.drashishgupta.com" target="_blank">
                                <i class="fa fa-rss"></i> <span
                                    class="hidden-sm">Blog</span></a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- /.div nav wrap holder -->
</header>