<div id="service-sidebar">
    <div id="masthead" class="bg-image" data-image-src="images/header-3.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a ui-sref="home">Home</a></li>
                        <li><a ui-sref="$state.currentState">{{state.current.label}}</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!--/container-->
    </div>
    <!-- /.masthead -->
    <div class="row row-fixed">
        <div class="col-sm-12">
            <div class="book-box row">
                <div class="book-form">
                    <h4 class="hr-after">Make an appointment</h4>
                    <div class="row">
                        <p class="col-md-6 col-sm-6">
                            <input class="form-control" type="text" placeholder="First Name" required="">
                        </p>
                        <p class="col-md-6 col-sm-6">
                            <input class="form-control" type="text" placeholder="Last Name" required="">
                        </p>
                    </div>
                    <p>
                        <input class="form-control" type="email" placeholder="Enter your email id" required="">
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group date">
                                <input type="text" class="form-control" value="02-16-2012" id="dp">
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="departments" name="departments">
                            <option value="secondary">Primary care</option>
                            <option value="sr secondary">Cardio</option>
                            <option value="graduate">Rheumatologists</option>
                            <option value="none">None</option>
                        </select>
                    </div>
                    <div class="row">
                        <p class="col-md-6 col-sm-6">
                            <select class="form-control">
                                <option value="0" selected="" disabled="">City</option>
                                <option value="1">Sarajevo</option>
                                <option value="2">Tuzla</option>
                                <option value="3">Gradacac</option>
                            </select>
                        </p>
                        <p class="col-md-6 col-sm-6">
                            <a href="about_2.html#" class="btn btn-primary btn-fill btn-block">Sumbit</a>
                        </p>
                    </div>
                    <hr style="border:1px solid #fff">
                    <p class="help-block">Your details will not be published. Before sumbition please read our <a
                            href="about_2.html#">Terms of service</a> and <a href="about_2.html#">Privacy Policy</a>.
                    </p>
                </div>
            </div>
            <!-- / nav block -->
        </div>
    </div>
</div>